__pycache__/
.venv/
.DS_Store

*.wbproj

policy_weights/
eval_results/
trajectory_archive/
eval_data.json
eval_result.json
ppo_rl_test.zip

wandb/
# **/rl_outputs/*
# !**/rl_outputs/best_traj-example.json
# (In .env file) EVAL_TRAJ=train-{n}knots
.env
data/

naive_results.json

*.sh
*.ps1

controllers.zip